@import 'variables';

.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}

.section {
  padding: 3rem 0;
  background: transparent;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: $blue-dark;
}
