/* Простий reset */
*,
*::before,
*::after { box-sizing: border-box; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  margin: 0; padding: 0; border: 0; vertical-align: baseline;
}
html, body { height: 100%; }
body {
  font-family: $font-sans;
  font-size: $base-font-size;
  color: #222;
  background: $bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img { max-width: 100%; display: block; }
a { color: inherit; text-decoration: none; }
ul { list-style: none; padding: 0; margin: 0; }
button { background: none; border: none; cursor: pointer; font: inherit; }
.skip-link {
  position: absolute; left: -9999px; top: auto; width: 1px; height: 1px; overflow: hidden;
}
.skip-link:focus {
  position: static; left: auto; top: auto; width: auto; height: auto; padding: 8px 12px;
  background: $blue; color: $white; border-radius: 4px;
}
